/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define NUMBER  1
#define SYMBOL  2
#define HOTKEY  3
#define SETTING 4

/ {
    macros {
        macro_phone: macro_phone {
            // 1351
            label = "MACRO_PHONE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &kp N1 &kp N3 &kp N5  &kp N1>
                ;
        };
        macro_email_q: macro_email_q {
            // 2894512440@qq.com
            label = "MACRO_EMAIL_QQ";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings 
                = < &kp N2 &kp N8 &kp N9 &kp N4 &kp N5 &kp  N1 &kp N2 &kp N4 &kp N4 &kp N0 
                    &kp AT &kp Q &kp Q &kp DOT  &kp C &kp O &kp M>
                ;
        };
        macro_email_g: macro_email_g {
            // chenzhihao1109@qq.com
            compatible = "zmk,behavior-macro";
            label = "MACRO_EMAIL_GMAIL";
            #binding-cells = <0>;
            bindings
                = < &kp N1 &kp N3 &kp N5  &kp N1 &kp N1 &kp N5 >
                ;
        };
       
    };


    keymap {
        compatible = "zmk,keymap";

// -----------------------------------------------------------------------------------------
// | TAB |  Q  |  W  |  E  |  R       |  T  |     |  Y  |  U        |  I  |  O  |  P  |   BKSP    |
// | CTL |  A  |  S  |  D  |  F       |  G  |     |  H  |  J        |  K  |  L  |  ;  |     '     |
// | ALT |  Z  |  X  |  C  |  V       |  B  |     |  N  |  M        |  ,  |  .  |  /  | SHFT/CLCK |
//                    | GUI/~ | NUM/SPC | SHIFT |     | HTK/ENT | SYM/SPC  | GUI/BSPC |
        default_layer {
            label = "DEFAULT";
            bindings = <
   &kp GRAVE  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5            &kp N6    &kp N7     &kp N8   &kp N9     &kp N0   &kp MINUS
   &mt TAB ESC  &kp Q &kp W &kp E &kp R &kp T               &kp Y   &kp U &kp I     &kp O   &kp P    &kp EQUAL
   &kp ENTER &kp A &kp S &kp D &kp F &kp G                  &kp H   &kp J &kp K     &mt SYMBOL L   &kp SEMI &kp SQT
   &kp CAPS  &kp Z &kp X &kp C &kp V &kp B                  &kp N   &kp M &kp COMMA &kp DOT &kp FSLH &kp BSLH
   &kp LC(C)  &kp LC(V) &mt LSHFT BSPC &lt NUMBER SPACE     &lt NUMBER LEFT &mt LSHFT RIGHT  &kp LBKT  &kp RBKT
   &tog NUMBER  &mo SYMBOL &mt LCTRL LGUI  &mt LALT DEL     &kp UP   &kp DOWN  &mo HOTKEY  &mo SETTING                      
            >;
        };

// -----------------------------------------------------------------------------------------
// | ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | DEL |
// | CTL |  F1 |  F2 |  F3 | F4  |  F5 |   |  ←  |  ↓  |  ↑  |  →  |     |     |
// | ALT |  F6 |  F7 |  F8 | F9  | F10 |   | F12 | F11 |     |     |     |     |
//                   |     |     |     |   | SET |     |     |
        number_layer {
            label = "NUMBER";
            bindings = <
    &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6                                &kp F7 &kp F8 &kp F9 &kp F10  &kp F11   &kp F12 
    &macro_phone &macro_email_q  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp PLUS   &none &none  &kp UP &none &none &none
    &kp STAR  &kp KP_SLASH  &kp KP_N4 &kp KP_N5  &kp KP_N6 &kp MINUS         &none  &kp LEFT &kp DOWN &kp RIGHT &none &none
    &macro_email_g &macro_email_g &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp ENTER    &none &none &none &none &none &none
    &kp KP_N0 &kp DOT  &kp BSPC  &kp SPACE                                   &none &none &none &none
     &none &none &none &none                                                 &none &none &none &none
            >;
        };

// -----------------------------------------------------------------------------------------
// | ESC  |  !  |  @  |  #  |  $  |  %  |     |  ^   |  &   |  *   |  (   |  )  | DEL |
// |      |     |     |  "  |  :  |  ~  |     |  -   |  =   |  [   |  ]   |  \  |     |
// |      |     |     |  '  |  ;  |  `  |     |  _   |  +   |  {   |  }   | "|" |     |
//                    |     | SET |     |     |      |      |      |
        symbol_layer {
            label = "SYMBOL";
            bindings = <
     &none &none &none &none &none &none                 &none &none &none &none &none &none       
     &kp ESC   &kp EXCL  &kp AT   &kp HASH &kp DLLR   &kp PRCNT      &kp CARET &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &kp DEL
     &bt BT_SEL 2 &bt BT_SEL 3 &none &none &bootloader &bootloader         &bootloader      &bootloader    &none &none &reset &reset
                                                                                                   
        
         >;
        };

// -----------------------------------------------------------------------------------------
// |   |   |   |   |   |   |     |   |   |   |   |   |   |
// |   |   |   |   |   |   |     |   |   |   |   |   |   |
// |   |   |   |   |   |   |     |   |   |   |   |   |   |
//             |     |     |     |     |     |
        hotkey_layer {
            label = "HOTKEY";
            bindings = <
   &none &none        &none        &none       &none &none        &none &none &none &none &none &none
    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR         &kp N3 &kp N3 &kp N3 &kp N3 &kp N3 &kp N3
    &none &none        &none        &none       &none &none        &none &none &none &none &none &none
                                          
                                  
            >;
        };

// -----------------------------------------------------------------------------------------
// | RGB BRI+ | RGB SAT+ | RGB HUE+ | RGB ANI+ | | RGB TOG |     |  BT1  | BT2 | BT3 | BT4 | BT5 | BT CLR |
// | RGB BRI- | RGB SAT- | RGB HUE- | RGB ANI- | |         |     |       |     |     |     |     |        |
// |          |          |          |          | |         |     | RESET |     |     |     |     |        |
//                                  |          | |         |     |       |     |     |cxcvx

        setting_layer {
            label = "SETTING";
            bindings = <
        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR             &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &none        &none
        &none           &none           &none           &none           &none  &none              &kp HOME     &kp END      &none        &none        &none        &none
                                                  
                                        
            >;
        };
    };
};
